# =========================
# AI / LLM Configuration
# =========================
GEMINI_API_KEY="API KEY"

# =========================
# Backend Configuration
# =========================
HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:5173 

# =========================
# Vector DB & Storage
# =========================
VECTOR_DB_PATH=./vector_store 
UPLOAD_DIR=./uploads